<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Remind Me!</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Send email reminders to yourself">
        <meta name="author" content="Tom Shen">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            var urlParams = {};
            $(document).ready (function(){
                var match,
                    pl     = /\+/g,  // Regex for replacing addition symbol with a space
                    search = /([^&=]+)=?([^&]*)/g,
                    decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                    query  = window.location.search.substring(1);

                urlParams = {};
                while (match = search.exec(query))
                   urlParams[decode(match[1])] = decode(match[2]);
                if('email' in urlParams)
                    $('#id_email').val(urlParams['email']);
                if(!$('#id_date').val())
                    $('#id_date').val(new Date().toISOString().split('T')[0]);
            });
        </script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="wrap">
            <div class="container">
                <div class="page-header">
                    <h1>Remind Me!</h1>
                </div>
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}

                    {% if form.email.errors %}
                        <label class="control-label error" for="id_email">Email address</label>
                    {% else %}
                        <label class="control-label" for="id_email">Email address</label>
                    {% endif %}
                    <div class="controls">
                        <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        {% if form.email.value %}
                            <input id="id_email" type="email" name="email" maxlength="254" placeholder="santa@claus.com" value={{ form.email.value }} required>
                        {% else %}
                            <input id="id_email" type="email" name="email" maxlength="254" placeholder="santa@claus.com" required>
                        {% endif %}
                    </div>
                        {% if form.email.errors %}
                            <span class="help-inline">We need a correct email address to remind you</span>
                        {% endif %}
                    </div>

                    {% if form.date.errors %}
                        <label class="control-label error" for="id_date">Reminder date</label>
                    {% else %}
                        <label class="control-label" for="id_date">Reminder date</label>
                    {% endif %}
                    <div class="controls">
                        {% if form.date.value %}
                            <input size="16" name="date" type="date" id="id_date" value={{form.date.value}}>
                        {% else %}
                            <input size="16" name="date" type="date" id="id_date">
                        {% endif %}
                        {% if form.date.errors %}
                        <span class="help-inline">Even we don't have access to time travel</span>
                        {% endif %}
                    </div>

                    {% if form.message.errors %}
                        <label class="control-label error" for="id_message">Message</label>
                    {% else %}
                        <label class="control-label" for="id_message">Message</label>
                    {% endif %}
                    <div class="controls">
                        <textarea id="id_message" rows="4" placeholder="Deliver gifts" name="message">{% if form.email.value %}{{form.message.value}}{% endif %}</textarea>
                        {% if form.message.errors %}
                            <span class="help-inline">Do you need a reminder about what your reminder was?</span>
                        {% endif %}
                    </div>

                    <div class="controls">
                        <button class="btn btn-large btn-primary" type="submit">Remind me</button>
                    </div>

                </form>
            </div> <!-- /container -->
        </div>

        <div id="footer">
      <div class="container">
        <p class="muted credit">Created by <a href="http://www.tomshen.me">Tom Shen</a>. Source on <a href="https://github.com/tomshen/remind-me">Github</a>.</p>
      </div>
    </div>
        <script src="/static/js/bootstrap-modal.js"></script>
        {% if scheduled %}
        <script src="/static/js/bootbox.min.js"></script>
        <script>
            $(document).ready (function(){
                bootbox.alert("Reminder scheduled!");
            });
        </script>
        {% endif %}

    </body>
</html>